{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <title>EduShare</title>
  <link rel="stylesheet" type="text/css" href="{% static '/css/SpoqaHanSansNeo.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>

<body>
  <div class="header-gnb">
    <div class="container">
      <div class="header-gnb-wrapper">
        <a class="sub-navigation-logo"><img src="" /></a>
        <div class="service-menu" id="serviceMenu">EduShare</div>
        <div class="icon-box">
          <img class="icon search-icon" src="{% static '/css/search-icon.svg' %}" />
          <div class="button-group-box" id="buttonGroupBox">
            <a class="btn btn-common btn-white-border" href="">로그인</a>
            <a class="btn btn-common btn-violet" href="">회원가입</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-snb">
    <div class="container">
      <a class="sub-navigation active" href="">
        <div>콘텐츠</div>
      </a>
      <a class="sub-navigation" href="">
        <div>재생 목록</div>
      </a>
      <a class="sub-navigation" href="">
        <div>랭킹</div>
      </a>
      <a class="sub-navigation" href="">
        <div>마이페이지</div>
      </a>
    </div>
  </div>
  <div class="relative"><img class="w-full" src="{% static '/img/background.png' %}">
    <p class="body-title">다양한 콘텐츠를 등록하고 학습해보세요</p>
  </div>
  <div class="container ">
    <div class="p-8 pt-0">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 lg:gap-8">
        <div class="p-4 rounded-md items-center justify-center h-200 shadow sm:overflow-hidden sm:rounded-md">
          <div class="group relative">
            <div class="aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none">
              <img src="https://img.youtube.com/vi/yytWGELNeOI/0.jpg" alt=""
                class="h-full w-full object-cover object-center lg:h-full lg:w-full" />
            </div>
            <div class="mt-4 flex justify-between">
              <div>
                <h2 class="text-mx text-gray-700">
                  <a href="#">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    점프 투 파이썬
                  </a>
                </h2>
                <p class="mt-2 text-sm text-gray-500">김재건</p>
              </div>
              <p class="text-sm font-medium text-gray-900"><span class="text-red-600">❤</span> 0</p>
            </div>
          </div>
        </div>
        <div class="p-4 rounded-md items-center justify-center h-200 shadow sm:overflow-hidden sm:rounded-md">
          <div class="group relative">
            <div class="aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none">
              <img src="https://img.youtube.com/vi/Ulfudc1pF5Q/0.jpg" alt=""
                class="h-full w-full object-cover object-center lg:h-full lg:w-full" />
            </div>
            <div class="mt-4 flex justify-between">
              <div>
                <h3 class="text-mx text-gray-700">
                  <a href="#">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    Python Print()
                  </a>
                </h3>
                <p class="mt-2 text-sm text-gray-500">김재건</p>
              </div>
              <p class="text-sm font-medium text-gray-900"><span class="text-red-600">❤</span> 1</p>
            </div>
          </div>
        </div>
        <div class="p-4 rounded-md items-center justify-center h-200 shadow sm:overflow-hidden sm:rounded-md">
          <div class="group relative">
            <div class="aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none">
              <img src="https://img.youtube.com/vi/xH3SqAhULjI/0.jpg" alt=""
                class="h-full w-full object-cover object-center lg:h-full lg:w-full" />
            </div>
            <div class="mt-4 flex justify-between">
              <div>
                <h3 class="text-mx text-gray-700">
                  <a href="#">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    예제로 설명하는 파이썬
                  </a>
                </h3>
                <p class="mt-2 text-sm text-gray-500">김재건</p>
              </div>
              <p class="text-sm font-medium text-gray-900"><span class="text-red-600">❤</span> 5</p>
            </div>
          </div>
        </div>
        <div class="p-4 rounded-md items-center justify-center h-200 shadow sm:overflow-hidden sm:rounded-md">
          <div class="group relative">
            <div class="aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none">
              <img src="https://img.youtube.com/vi/uIcK7-YU8uA/0.jpg" alt=""
                class="h-full w-full object-cover object-center lg:h-full lg:w-full" />
            </div>
            <div class="mt-4 flex justify-between">
              <div>
                <h3 class="text-mx text-gray-700">
                  <a href="#">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    클래스는 OOO다
                  </a>
                </h3>
                <p class="mt-2 text-sm text-gray-500">김재건</p>
              </div>
              <p class="text-sm font-medium text-gray-900"><span class="text-red-600">❤</span> 15</p>
            </div>
          </div>
        </div>
        {% for content in contents.all %}
          <div class="p-4 rounded-md items-center justify-center h-200 shadow sm:overflow-hidden sm:rounded-md">
            <div class="group relative">
              <div class="aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none">
                <img src="{{ content.youtube_thumbnail }}" alt=""
                  class="h-full w-full object-cover object-center lg:h-full lg:w-full" />
              </div>
              <div class="mt-4 flex justify-between">
                <div>
                  <h3 class="text-mx text-gray-700">
                    <a href="#">
                      <span aria-hidden="true" class="absolute inset-0"></span>
                      {{ content.title }}
                    </a>
                  </h3>
                  <p class="mt-2 text-sm text-gray-500">{{ content.user_id }}</p>
                </div>
                <p class="text-sm font-medium text-gray-900"><span class="text-red-600">❤</span> {{ content.like_count }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</body>

</html>