{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include 'common/html_head.html' %}
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
  </head>
  <body>
    {% include 'common/top.html' %}
    {% block content %}
    <div class="header-snb">
      <div class="container">
        <a class="sub-navigation active" href="/content/"><div>콘텐츠</div></a>
        <a class="sub-navigation" href=""><div>재생 목록</div></a>
        <a class="sub-navigation" href=""><div>랭킹</div></a>
        <a class="sub-navigation" href=""><div>마이페이지</div></a>
      </div>
    </div>
    <div class="container">
      <div class="hidden sm:block" aria-hidden="true">
        <div class="py-5">
          <div class="border-t border-gray-200"></div>
        </div>
      </div>
      <div>
        <div class="md:grid md:gap-6">
          <div class="mt-5 md:col-span-2 md:mt-0">
            <form action="/content/add" method="POST" onsubmit="submitWork();">
              {% csrf_token %}
              <input name="description" id="description">
              <div class="shadow sm:overflow-hidden sm:rounded-md">
                <div class="space-y-6 bg-white px-4 py-5 sm:p-6">
                  <div class="grid grid-cols-3 gap-6">
                    <div class="col-span-3 sm:col-span-2">
                      <div class="col-span-6 sm:col-span-4">
                        <label for="title" class="block text-sm font-medium text-gray-700">콘텐츠 제목</label>
                        <input type="text" name="title" id="title" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
                      </div>
                    </div>
                  </div>

                  <div class="grid grid-cols-3 gap-6">
                    <div class="col-span-3 sm:col-span-2">
                      <div class="col-span-6 sm:col-span-4">
                        <label for="type" class="block text-sm font-medium text-gray-700">콘텐츠 분류</label>
                        <select id="type" name="type" class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                          <option>프로그래밍</option>
                          <option>Python</option>
                          <option>Java</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="grid grid-cols-3 gap-6">
                    <div class="col-span-3 sm:col-span-2">
                      <div class="col-span-6 sm:col-span-4">
                        <label for="youtube_link" class="block text-sm font-medium text-gray-700">콘텐츠 URL</label>
                        <input type="text" name="youtube_link" id="youtube_link" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
                      </div>
                    </div>
                  </div>

                  <div>
                    <label for="description" class="block text-sm font-medium text-gray-700">콘텐츠 설명</label>
                    <div id="editor" class="mt-1">
                    </div>
                  </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
                  <button type="submit" class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">등록</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="hidden sm:block" aria-hidden="true">
        <div class="py-5">
          <div class="border-t border-gray-200"></div>
        </div>
      </div>
    </div>

    <script>      
      const Editor = toastui.Editor;
      const editor = new Editor({
        el: document.querySelector('#editor'),
        height: '600px',
        initialEditType: 'markdown',
        previewStyle: 'vertical',
        language: 'ko',
        toolbarItems: [
          ['heading', 'bold', 'italic', 'strike'],
          ['hr', 'quote'],
          ['ul', 'ol', 'task', 'indent', 'outdent'],
          ['table', 'link'],
          ['code', 'codeblock'],
          ['scrollSync'],
        ]
      });
      
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: '#da373d',
            },
          },
        },
      };
      
      function submitWork() {
        let description = editor.getHTML();
        document.getElementById('description').value = description;
      }
    </script>
  </body>
  {% endblock %}
  {% include 'common/footer.html' %}
</html>