{% load static %}
<div class="header-gnb">
  <div class="container">
    <div class="header-gnb-wrapper">
      <a class="sub-navigation-logo"><img src="" /></a>
      <div class="service-menu font-bold" id="serviceMenu"><a href="/content/"><img class="w-8 h-8 inline mr-1 mb-1" src="{% static '/img/logo.svg' %}" alt="logo">EduShare</a></div>
      <div class="icon-box">
        {% if request.path in '/content/' %}
        <div class="flex mr-4">
          <input type="text" id='searchContent' class="rounded border-0 bg-slate-200" onkeyup="searchContent()" placeholder="콘텐츠 검색">
          <span class="flex items-center relative"><img class="absolute right-2 w-6 h-6 max-w-none" src="{% static '/css/search-icon.svg' %}" /></span>
        </div>
        {% endif %}
        {% if request.path in '/playlist/' %}
        <div class="flex mr-4">
          <input type="text" id='searchPlaylist' class="rounded border-0 bg-slate-200" onkeyup="searchPlaylist()" placeholder="재생목록 검색">
          <span class="flex items-center relative"><img class="absolute right-2 w-6 h-6 max-w-none" src="{% static '/css/search-icon.svg' %}" /></span>
        </div>
        {% endif %}
        {% if user.is_authenticated %}
        <button id="dropdownAvatarNameButton" data-dropdown-toggle="dropdownAvatarName"
          class="flex items-center text-sm font-medium text-gray-900 rounded-full hover:text-blue-600 :hover:text-blue-500 md:mr-0 focus:ring-4 focus:ring-gray-100 :focus:ring-gray-700 :text-white"
          type="button">
          <span class="sr-only">Open user menu</span>
          <img class="mr-2 w-8 h-8 rounded-full" src="{% static '/img/default_avatar.png' %}" alt="user photo">
          {{ user.first_name }}
          <svg class="w-4 h-4 mx-1.5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </button>

        <!-- Dropdown menu -->
        <div id="dropdownAvatarName"
          class="z-50 w-44 bg-white rounded divide-y divide-gray-100 shadow :bg-gray-700 :divide-gray-600 hidden"
          data-popper-placement="bottom"
          style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(415.2px, 62.4px, 0px);">
          <div class="py-3 px-4 text-sm text-gray-900 :text-white">
            <div class="truncate">{{ user.username }}</div>
          </div>
          <ul class="py-1 text-sm text-gray-700 :text-gray-200"
            aria-labelledby="dropdownInformdropdownAvatarNameButtonationButton">
            <li>
              <a href="/my-watch" class="block py-2 px-4 hover:bg-gray-100 :hover:bg-gray-600 :hover:text-white">내 학습</a>
            </li>
            <li>
              <a href="/my-content" class="block py-2 px-4 hover:bg-gray-100 :hover:bg-gray-600 :hover:text-white">작성한 콘텐츠</a>
            </li>
            <li>
              <a href="/my-note" class="block py-2 px-4 hover:bg-gray-100 :hover:bg-gray-600 :hover:text-white">작성한 학습 노트</a>
            </li>
            <li>
              <a href="/my-like" class="block py-2 px-4 hover:bg-gray-100 :hover:bg-gray-600 :hover:text-white">좋아요한 콘텐츠</a>
            </li>
          </ul>
          <div class="py-1">
            <a href="/logout" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 :hover:bg-gray-600 :text-gray-200 :hover:text-white">로그아웃</a>
          </div>
        </div>

        {% else %}
        <div class="button-group-box" id="buttonGroupBox">
          <a href='/signin' class="inline-flex justify-center rounded border border-slate-200 bg-stone-50 py-1 px-3 text-sm text-slate-600 shadow-sm hover:bg-stone-100 focus:ring-2 focus:bg-stone-50 focus:ring-offset-2 cursor-pointer">로그인</a>
          <a href='/signup' class="inline-flex justify-center rounded border border-transparent bg-indigo-600 py-1 px-3 text-sm text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 cursor-pointer ml-3.5">회원가입</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<script>
  function searchContent() {
    if (window.event.keyCode == 13) {
      let searchText = document.getElementById('searchContent').value;
      window.location.href = '/content?title=' + searchText;
    }
  }

  function searchPlaylist() {
    if (window.event.keyCode == 13) {
      let searchText = document.getElementById('searchPlaylist').value;
      window.location.href = '/playlist?title=' + searchText;
    }
  }
</script>